:root {
    --primary-blue: hsl(215, 51%, 70%);
    --primary-cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white-color: hsl(0, 0%, 100%);
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--main-bg);
    font-family: 'Outfit', sans-serif;
}

.arr{
    align-items: center;
    width: 100px;
    height:auto;
    transform: rotate(90deg);
    position: absolute;
    top: 50%;
    left: 10px;
    opacity: .3;
    transition: all 100ms ease-in-out;
}

.arr:hover{
    transform: scale(1.2) rotate(90deg);
    opacity: 1;

}

.arrow-for{
    align-items: center;
    width: 100px;
    height:auto;
    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    right: 10px;
}

.arrow-for .arr{
    position: relative;
    right: 10px;
}

.container{
    background-color: var(--card-bg);
    height: 700px;
    width: 400px;
    padding:0px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.picture img{
    width: 85%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;

}

.picture{
    text-align: center;
}


.grid{
    display: grid;
    grid-template-rows: 55% 45%;
}

.grid > *:first-child{
    place-items: center;

}

.title a{
    text-decoration: none;
    color: var(--white-color);
    font-size: 12px;
    padding-bottom: 20px;
}

.title a:hover{
    color: var(--primary-cyan);

}

.box{
    max-width: 400px;
    margin: 0px auto;
    overflow: auto;
    padding: 0 40px;
}

.text-body{
    color:var(--primary-blue);
    font-size: 20px;
    padding-bottom: 30px;
}

.stats{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-bottom: 30px;
    border-bottom: .1px solid var(--primary-blue);
}

.eth{
    display: flex;
    gap: 10px;
}

.eth p{
    color: var(--primary-cyan);
}

.days p{
    color: var(--primary-blue);
}
.days{
    display: flex;
    gap: 10px;
}

.creator{
    display: flex;
    color: var(--primary-blue);
    gap: 10px;
    padding-top: 20px;
}
.creator a{
    text-decoration: none;
    color: white;

}

.creator a:hover{
    color: var(--primary-cyan);
}

.creator img{
    border: 1px solid white;
    border-radius: 50%;
    width: 15%;
    height: auto;
}

.creator p{

    justify-self: center;
    align-self: center;
}

.arrow-for{
    align-items: center;
    width: 100px;
    height:auto;
    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    right: 10px;
}

.arrow-for .arr{
    position: relative;
    right: 10px;
}