:root {
    /* (sub-heading at the top of the app UI) */
    --pale-violet: hsl(276, 100%, 81%); 
    /* (chat on the left) */
    --moderate-violet: hsl(276, 55%, 52%);
    /* (chat on the right) */
    --dark-violet: hsl(271, 15%, 43%);
    /* (placeholder text) */
    --gray-blue: hsl(206, 6%, 79%);
    /* (main heading) */
    --desaturated-violet: hsl(271, 36%, 24%);
    /* (paragraph) */
    --gray-violet: hsl(270, 7%, 64%);

    /* Linear Gradient */
    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;

}

/* Navigation Arrows */

body{
    background-color: hsl(327, 100%, 89%);
}

.arr{
    align-items: center;
    width: 100px;
    height:auto;
    transform: rotate(90deg);
    position: absolute;
    top: 50%;
    left: 10px;
    opacity: .3;
    transition: all 100ms ease-in-out;
}

.arr:hover{
    transform: scale(1.2) rotate(90deg);
    opacity: 1;

}

.arrow-for{
    align-items: center;
    width: 100px;
    height:auto;
    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    right: 10px;
}

.arrow-for .arr{
    position: relative;
    right: 10px;
}

.website-container{
    max-width: 1200px;
    margin: 0px auto;
    overflow: auto;
    border-radius: 8px;
    border: 0px solid black;
    margin: 50px auto;
    height: 88vh;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 29px 0px;

    
}

/* BODY */

.rectangle{
    width: 500px;
    height: 625px;
    background-image: linear-gradient(hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    background-size: 800%;

}

/* Main Rectangle */

.main-rectangle{
    position: relative;
    right: 100px;
    border-end-end-radius: 1000px;
    border-end-start-radius: 1000px;
    
}

/* Background Rectangle */

.bg-rectangle{
    position: relative;
    left: 900px;
    bottom: 500px;
    border-start-end-radius: 1000px;
    border-start-start-radius: 1000px;
    opacity: .08;

}

/* Iphone */

.iphone-l1{
    width: 240px;
    height: 450px;
    position:absolute;
    top: 180px;
    left: 480px;
    background: white;
    z-index: 3;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 29px 0px;
}

.iphone-l2{
    width: 220px;
    height: 430px;
    position:absolute;
    top: 190px;
    left: 490px;
    background:rgb(245, 248, 250);
    z-index: 3;
    border-radius: 25px;

}

.iphone-notch{
    width: 125px;
    height: 25px;
    position: absolute;
    top: 180px;
    left: 535px;
    z-index: 6;
    border-radius: 100px;
    background-color: white;
}

.name{
    position: absolute;
    top: 215px;
    left: 510px;
    z-index: 6;
    display: flex;
    gap: 10px;
}

.name img{
    width: 8%;
    height: auto;
    border-radius: 50%;
    border: 1px solid white;
}

.name p{
    font-size: 12px;
    color: white;
    align-self: center;
}

.name .status{
    color:var(--gray-violet);
    font-size: 8px;
}

.header-bubble{
    width: 220px;
    height: 70px;
    position: absolute;
    top: 190px;
    left: 490px;
    background: linear-gradient(270deg, hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    z-index: 5;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.ellipse{
    position: absolute;
    top: 214px;
    left: 675px;
    z-index: 6;
}

.ellipse img{
    width: 10%;
    height: auto;
}

/* Text */

.bubble-left{
    color: var(--moderate-violet);
    background-color: var(--gray-blue);
    padding: 5px 10px;
    border-radius: 10px 10px 10px 5px;
    font-size: 8px;
    z-index: 8;

}

.bubble-1{
    position: absolute;
    top: 270px;
    left: 500px;
    padding-right: 25px;
}

.bubble-2{
    position: absolute;
    top: 305px;
    left: 500px;
}

.images{
    position: absolute;
    top: 345px;
    left: 565px;
    display: flex;
    gap: 8px;
    z-index: 8;
}

.images img{
    width: 8%;
    height: auto;
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.bubble-right{
    color: var(--gray-violet);
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px 10px 5px 10px;
    font-size: 8px;
    z-index: 8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.bubble-3{
    position: absolute;
    top: 395px;
    left: 565px;
}

.bubble-4{
    position: absolute;
    top: 437px;
    left: 500px;
}

.money{
    position: absolute;
    top: 0;
    color: white;
    display: flex;
    border-radius: 10px 10px 10px 5px;
    background: linear-gradient(270deg,hsl(264, 100%, 61%),  hsl(293, 100%, 63%));
    padding: 10px 15px;
    gap: 40px;
    z-index: 8;
}

.money p{
    font-size: 8px;
    align-self: center;
}

.money h4{
    font-size: 14px;
}

.pos-1{
    position: absolute;
    top: 482px;
    left: 500px;
}

.pos-2{
    position: absolute;
    top: 524px;
    left: 500px;

}

  .send{
    position: absolute;
    top: 580px;
    left: 505px;
  }

  .send{
      border-radius: 12px;
      z-index: 10;
      color: var(--gray-violet);
      background-color: white;
      padding: 10px 0;
      padding-left: 10px;
      padding-right: 100px;
      font-size: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

/* Description */
.description h1{
    color:var(--desaturated-violet);
    padding-bottom: 30px;
}

.description{
    position: absolute;
    top: 320px;
    left: 780px;
    line-height: 30px;
}

.description p{
    color: var(--gray-violet);
}


